version: "3.9"

services:
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: frontend-thientai
    restart: always
    depends_on:
      - backend

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend-thientai
    restart: always
    ports:
      - "8000:8000"      
    env_file:
      - ./Backend/.env
    depends_on:
      - db
      - redis
